<form #childForm="ngForm" autocomplete="off">
	<div fxLayout="column" class="innerMainDiv" [ngStyle]="{'border': (step > 4 && step < 13) ? '6px solid #1D3885' : ((step > 12 && step < 21)  ? '6px solid 	#F8D32D' : '6px solid lightgray')}">	
		<span class="zona-title" [ngStyle]="{'background-color': (step > 4 && step < 13) ? '#1D3885' : ((step > 12 && step < 21)  ? '#F8D32D' : 'lightgray'),
			'color': (step > 4 && step < 13) ? 'white' : ((step > 13 && step < 21)  ? 'black' : 'navyy') }">
			Rubrica 4 - Pagube materiale
		</span>

		<div fxLayout="row" style="justify-content: center;">
			<mat-slide-toggle [(ngModel)]="Zona4.PagubeAlteVehicule" (ngModelChange)="existaPagubeAuto($event)" class="zona-subtitle">la alte vehicule decat A si B</mat-slide-toggle>
		</div>
		<mat-card fxFlex *ngFor="let pagubaAuto of Zona4.Pagube.PagubeAuto; let i = index">
			<mat-card-title>
				Vehicul avariat {{i + 1}}:
			</mat-card-title>
			<mat-card-content>
				<app-paguba-auto fxLayout = "column" [PagubaAuto]="pagubaAuto"></app-paguba-auto>
			</mat-card-content>
		  <mat-card-actions>
				<button *ngIf="Zona4.Pagube.PagubeAuto.length > 1" mat-raised-button color="primary" (click)="RemovePagubaAuto(pagubaAuto)">Sterge</button>
				<button *ngIf="i == Zona4.Pagube.PagubeAuto.length-1 && Zona4.Pagube.PagubeAuto.length < 6" mat-raised-button color="primary" (click)="AddPagubaAuto()">Adauga</button>
		  </mat-card-actions>		  
		</mat-card>

		<div fxLayout="row" style="justify-content: center;">
			<mat-slide-toggle [(ngModel)]="Zona4.PagubeAlteObiecte" (ngModelChange)="existaPagubeObiecte($event)"class="zona-subtitle">la alte obiecte, in afara de vehicule</mat-slide-toggle>
		</div>
		<mat-card fxFlex *ngFor="let pagubaObiect of Zona4.Pagube.PagubeObiecte; let i = index">
			<mat-card-title>
				Obiect avariat {{i + 1}}:
			</mat-card-title>
			<mat-card-content>
				<app-paguba-obiect fxLayout = "column" [PagubaObiect]="pagubaObiect"></app-paguba-obiect>
			</mat-card-content>
		  <mat-card-actions>
				<button *ngIf="Zona4.Pagube.PagubeObiecte.length > 1" mat-raised-button color="primary" (click)="RemovePagubaObiect(pagubaObiect)">Sterge</button>
				<button *ngIf="i == Zona4.Pagube.PagubeObiecte.length-1 && Zona4.Pagube.PagubeObiecte.length < 6" mat-raised-button color="primary" (click)="AddPagubaObiect()">Adauga</button>
		  </mat-card-actions>		  
		</mat-card>

 	  <app-display-errors
 	  	class="form-error-container"
 	  	[style]="{'max-height': Zona4.hasError() != null && childForm.touched ? '200px' : '0'}"
 	  	[errors]="Zona4.hasError()">
  	</app-display-errors>	

  	<div fxFlex fxLayout="row" fxLayout.lt-md="column" class="ZonaButtonsContainer">
			<button mat-raised-button color="primary" (click)="showDiv(step, false); showDiv(step-1, true)"> << Rubrica anterioara </button>
  		<button mat-raised-button (click)="showDiv(step, false)"> |< Inapoi la formular </button>
  		<button [disabled]="CommonFunctions.DISABLE_BUTTONS_ON_VALIDATION_ERROR && Zona4.hasError() != null" mat-raised-button color="primary" (click)="showDiv(step, false); showDiv(step+1, true)"> Rubrica urmatoare >> </button>
  	</div>
	</div>
</form>
