<mat-form-field fxFlex>
  <mat-label>Nume:</mat-label>
  <input matInput [(ngModel)]="martor.Nume" name='NumeMartor' #NumeMartor='ngModel' required>
</mat-form-field>  

<mat-form-field fxFlex>
  <mat-label>Adresa:</mat-label>
  <input matInput [(ngModel)]="martor.Adresa" name='AdresaMartor' #AdresaMartor='ngModel' required>
</mat-form-field>  

<mat-form-field fxFlex>
  <mat-label>Telefon:</mat-label>
  <input matInput [(ngModel)]="martor.Telefon" name='TelefonMartor' #TelefonMartor='ngModel' required>
</mat-form-field>  