<mat-form-field fxFlex>
  <mat-label>Numar Auto:</mat-label>
  <input matInput [(ngModel)]="PagubaAuto.NrAuto" name='NrAuto' #NrAuto='ngModel' required>
</mat-form-field>  

<mat-form-field fxFlex>
  <mat-label>Marca:</mat-label>
  <input matInput [(ngModel)]="PagubaAuto.Marca" name='Marca' #Marca='ngModel' required>
</mat-form-field>  

<mat-form-field fxFlex>
  <mat-label>Model:</mat-label>
  <input matInput [(ngModel)]="PagubaAuto.Model" name='Model' #Model='ngModel' required>
</mat-form-field>  