<form #childForm="ngForm" autocomplete="off" novalidate>
	<div fxLayout="column" class="innerMainDiv" [ngStyle]="{'border': (step > 4 && step < 13) ? '6px solid #1D3885' : ((step > 12 && step < 21)  ? '6px solid 	#F8D32D' : '6px solid lightgray')}">	
		<span class="zona-title" [ngStyle]="{'background-color': (step > 4 && step < 13) ? '#1D3885' : ((step > 12 && step < 21)  ? '#F8D32D' : 'lightgray'),
			'color': (step > 4 && step < 13) ? 'white' : ((step > 13 && step < 21)  ? 'black' : 'navyy') }">
			Rubrica 6 - Asigurat/Detinator polita (vezi documentul de asigurare)
		</span>		
	  <mat-form-field fxFlex>
	    <mat-label>Nume:</mat-label>
	    <input matInput [(ngModel)]="Zona6.Nume" name="Nume" #Nume='ngModel' required>
	  </mat-form-field>  
	  <mat-form-field fxFlex>
	    <mat-label>Prenume:</mat-label>
	    <input matInput [(ngModel)]="Zona6.Prenume" name="Prenume" #Prenume='ngModel' required>
	  </mat-form-field>  
	  <mat-form-field fxFlex>
	    <mat-label>Adresa:</mat-label>
	    <input matInput [(ngModel)]="Zona6.Adresa" name="Adresa" #Adresa='ngModel' required>
	  </mat-form-field>  
	  <mat-form-field fxFlex>
	    <mat-label>Cod Postal:</mat-label>
	    <input matInput [(ngModel)]="Zona6.CodPostal" name="CodPostal" #CodPostal='ngModel'>
	  </mat-form-field>  
	  <mat-form-field fxFlex>
	    <mat-label>Tara:</mat-label>
	    <input type="text" required 
	           matInput [(ngModel)]="Zona6.Tara" name='Tara' #Tara='ngModel' (ngModelChange)="filterItem($event)"
	           [matAutocomplete]="auto">
	    <mat-autocomplete #auto="matAutocomplete">
	      <mat-option *ngFor="let tara of Tari.Tari" [value]="tara.Denumire">
	        {{tara.Denumire}}
	      </mat-option>
	    </mat-autocomplete>
	  </mat-form-field>
	  <mat-form-field fxFlex>
	    <mat-label>Telefon:</mat-label>
	    <input matInput [(ngModel)]="Zona6.Telefon" name="Telefon" #Telefon='ngModel'>
	  </mat-form-field> 
	  <mat-form-field fxFlex>
	    <mat-label>Email:</mat-label>
	    <input matInput [(ngModel)]="Zona6.Email" name="Email" #Email='ngModel'>
	  </mat-form-field> 

 	  <app-display-errors
 	  	class="form-error-container"
 	  	[style]="{'max-height': Zona6.hasError() != null && childForm.touched ? '200px' : '0'}"
 	  	[errors]="Zona6.hasError()">
  	</app-display-errors>	

  	<div fxFlex fxLayout="row" fxLayout.lt-md="column" class="ZonaButtonsContainer">
			<button mat-raised-button color="primary" (click)="showDiv(step, false); showDiv(step-1, true)"> << Rubrica anterioara </button>
  		<button mat-raised-button (click)="showDiv(step, false)"> |< Inapoi la formular </button>
  		<button [disabled]="CommonFunctions.DISABLE_BUTTONS_ON_VALIDATION_ERROR && Zona6.hasError() != null" mat-raised-button color="primary" (click)="showDiv(step, false); showDiv(step+1, true)"> Rubrica urmatoare >> </button>
  	</div>
	</div>
</form>
