<form #childForm="ngForm" autocomplete="off">
	<div fxLayout="column" class="innerMainDiv" [ngStyle]="{'border': (step > 4 && step < 13) ? '6px solid #1D3885' : ((step > 12 && step < 21)  ? '6px solid 	#F8D32D' : '6px solid lightgray')}">	
		<span class="zona-title" [ngStyle]="{'background-color': (step > 4 && step < 13) ? '#1D3885' : ((step > 12 && step < 21)  ? '#F8D32D' : 'lightgray'),
			'color': (step > 4 && step < 13) ? 'white' : ((step > 13 && step < 21)  ? 'black' : 'navyy') }">
			Rubrica 3 - Vatamari corporale, chiar daca sunt usoare
		</span>	
		<div fxLayout="row" style="justify-content: center;">
			<mat-checkbox [(ngModel)]="Zona3.VatamariDa" name="VatamariDa" #VatamariDa='ngModel' (change)="Zona3.VatamariNu = !Zona3.VatamariDa; chkBoxChange()">da</mat-checkbox>
			<mat-checkbox [(ngModel)]="Zona3.VatamariNu" name="VatamariNu" #VatamariNu='ngModel' (change)="Zona3.VatamariDa = !Zona3.VatamariNu; chkBoxChange()">nu</mat-checkbox>
		</div>

 	  <app-display-errors
 	  	class="form-error-container"
 	  	[style]="{'max-height': Zona3.hasError() != null && childForm.touched ? '200px' : '0'}"
 	  	[errors]="Zona3.hasError()">
  	</app-display-errors>	

  	<div fxFlex fxLayout="row" fxLayout.lt-md="column" class="ZonaButtonsContainer">
			<button mat-raised-button color="primary" (click)="showDiv(step, false); showDiv(step-1, true)"> << Rubrica anterioara </button>
  		<button mat-raised-button (click)="showDiv(step, false)"> |< Inapoi la formular </button>
  		<button [disabled]="CommonFunctions.DISABLE_BUTTONS_ON_VALIDATION_ERROR && Zona3.hasError() != null" mat-raised-button color="primary" (click)="showDiv(step, false); showDiv(step+1, true)"> Rubrica urmatoare >> </button>
  	</div>
	</div>
</form>
<ng-template #dialog1>
  <h2 matDialogTitle>Nu putem continua acum...</h2>
  <mat-dialog-content>
    <h3>Va rugam sa reveniti cand detineti documentele emise de politie!</h3>
    <h3>Va recomandam sa efectuati fotografii de la locul accidentului!</h3>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button matDialogClose color="primary">Inchide</button>
  </mat-dialog-actions>
</ng-template>
<ng-template #dialog2>
  <h2 matDialogTitle>Puteti continua, dar...</h2>
  <mat-dialog-content>
    <h3>Avizarea de dauna se va face dupa completarea documentatie cu procesul verbal de la politie!</h3>
    <h3>Va recomandam sa efectuati fotografii de la locul accidentului!</h3>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button matDialogClose color="primary">Inchide</button>
  </mat-dialog-actions>
</ng-template>
