<div class="content">
	<div class="mainDivContent prerequisite" style="text-align: center;">
		<h1>GDPR</h1>
		<p>
		Am creat acest serviciu exclusiv on-line, din dorința de ajuta consumatorii de servicii de asigurare și nu numai, să interacționeze în cel mai ușor, mai ieftin și rapid mod cu putință cu societățile de asigurare, în demersurile lor de a își recupera despăgubirile cuvenite.</p>

		<div class="scrollable">
 OMNIASIG VIENNA INSURANCE GROUP S.A., societate administrata in sistem dualist, cu sediul in Bucuresti, Aleea Alexandru, nr. 51, sector 1, înregistrata in Registrul Comerțului sub nr. J/40/10454/2001, CUI 14360018, autorizata de Autoritatea de Supraveghere Financiara, cod RA-047/10.04.2003, cod LEI 559900AB9YD8CLGBE756 („OMNIASIG VIG” sau „Operatorul”), in vederea prestarii serviciilor de asigurare, colecteaza si prelucreaza datele personale, in conformitate cu prevederile legale in materie de prelucrare a datelor cu caracter personal si libera circulatie a acestor date.

Scopul acestei notificări este informarea dumneavoastră cu privire la scopurile prelucrării, temeiul juridic al prelucrării, durata prelucrării, destinatarii datelor cu caracter personal colectate, modalitățile de exercitare a drepturilor individuale precum si informații legate de scopul secundar al procesării, daca datele vor fi prelucrate intr-un alt scop decât cel pentru care au fost colectate

Va rugam sa cititi aceasta informare cu atentie.

Categorii de date personale ce pot fi prelucrate de catre OMNIASIG VIG in activitatea de furnizare a serviciilor de asigurare:

    Date personale de identificare (nume, prenume, adresa, varsta, data nasterii, sex, telefon, email, CNP, nationalitate, semnatura olografa si semnatura in format digital). Datele sunt necesare pentru incheierea in mod valabil a majoritatii produselor de asigurare si derularea raportului contractual cu Operatorul.
    Date cu caracter personal privind familia, stilul de viata si circumstantele sociale (starea civila, detalii despre familie/sot/partener/persoane in intretinere,hobby-uri, sporturi practicate). Datele sunt colectate in cazul produselor de asigurare de sanatate si calatorii si in cazul produselor de asigurare a membrilor de familie. Ele sunt necesare pentru: evaluarea riscului asigurat, calculul primelor de asigurare si solutionarea dosarelor de dauna.
    Date cu caracter personal privind educatia si experienta profesionala (istoric educatie si training, calificari, certificari). Datele sunt colectate, in cazul asigurarilor de raspundere civila profesionala insa pot fi necesare si in cazul altor produse de asigurare.
    Date cu caracter personal privind activitatile de afaceri desfasurate de o persoana fizica (ocupatie, functie, istoric profesional, bunuri sau servicii furnizate). Datele sunt colectate in cazul asigurarilor de raspundere civila profesionala insa pot fi necesare si in cazul altor produse de asigurare.
    Date cu caracter personal privind sanatatea (date privind starea de sanatate fizica și psihica sau afectiunile medicale declarate in chestionarele medicale si care rezulta din analizele medicale efectuate la incheierea unui contract de asigurare, datele medicale colectate de la furnizorii de servicii medicale pentru decontarea serviciilor accesate de catre asigurat, datele medicale colectate in procesul de despagubire in cazul unui eveniment asigurat). Datele sunt colectate in cazul produselor de asigurare de persoane (sanatate, accidente, asistenta medicala). Ele sunt necesare pentru: evaluarea riscului asigurat, calculul primelor de asigurare, determinarea cuantumului despagubirii, accesarea serviciilor medicale asigurate si decontarea acestora.
    Detalii personale financiare (informatii legate de contul bancar, venituri, facilitati fiscale sau beneficii sociale, obligatii fiscale, venituri din alte surse). Datele sunt necesare pentru analizarea nevoii de asigurare si pentru identificarea produsului de asigurare optim, prin raportare la capacitatile financiare.
    Date privind bunurile detinute (date privind autovehiculul, imobilul sau bunul asigurat detinut de o persoana fizica, care face obiectul asigurarii). Datele sunt necesare in cazul asigurarilor RCA, Casco si bunuri.
    Informatii cu privire la locatia, imaginea si inregistrarile audio-video ale persoanelor fizice (inregistrarile video captate de camerele de supraveghere instalate la sediile OMNIASIG VIG, inregistrarile audio ale convorbirilor telefonice din call-center, adresa IP captata la utilizarea website-urilor si aplicatiilor OMNIASIG VIG). Datele sunt necesare in vederea asigurarii pazei si protectiei in locatiile OMNIASIG VIG, a imbunatatirii serviciilor oferite, solutionarii reclamatiilor si a oricaror solicitari venite din partea clientilor precum si in vederea asigurarii functionalitatilor tehnice ale platformelor online utilizate de OMNIASIG VIG).

Scopul in care datele personale sunt utilizate
OMNIASIG VIG colecteaza si prelucreaza datele dumneavoastra personale in urmatoarele scopuri:

    prestarea serviciilor de asigurare, coasigurare (ofertarea si emiterea politelor de asigurare, gestionarea contractelor de asigurare/ politelor, inclusiv reinnoirea acestora, solutionarea daunelor) si de reasigurare;
    efectuarea de profiluri si luarea deciziilor automate pentru evaluarea riscurilor asigurate si calculul primelor de asigurare; activitatea este necesara doar in cazul incheierii anumitor categorii de contracte de asigurare, prin raportare la suma asigurata;
    marketing, pentru informarea si acordarea de beneficii de loialitate si pentru imbunatatirea permanenta a calitatii serviciilor si produselor oferite (transmiterea de stiri, promotii, produse noi);
    raportari interne sau catre alte entitati ale grupului din care OMNIASIG VIG face parte;
    efectuarea de analize statistice/actuariale;
    solutionarea reclamatiilor si a solicitarilor din partea clientilor;
    solutionarea potentialelor litigii, inaintate instantelor (de drept comun sau arbitrale, din tara sau strainatate);
    identificarea clientilor, efectuarea de verificari de integritate si detectarea si prevenirea potentialelor fraude (de exemplu prevenirea platilor nejustificate ale dosarelor de dauna);
    comunicari sau raportari catre autoritatile, institutiile sau agentiile de stat sau guvernamentale abilitate;
    asigurarea masurilor de securitate necesare (supraveghere audio-video);
    recuperarea creantelor, actiuni in regres.

Temeiurile juridice pentru prelucrarea datelor dumneavoastra pentru scopurile mentionate mai sus, sunt:

    incheierea si executarea contractului de asigurare/polita la care sunteti parte, precum si efectuarea la cererea dumneavoastra a demersurilor premergatoare incheierii contractului de asigurare;
    o obligatie legala a Operatorului;
    interesul legitim al Operatorului, pentru activitati precum: efectuarea de analize statistice/actuariale si raportari interne sau catre alte entitati ale grupului din care OMNIASIG VIG face parte, verificarea integritatii si conformitatii persoanelor vizate, prevenirea fraudelor si a platilor nejustificate aferente dosarelor de dauna, asigurarea masurilor de securitate necesare etc.
    consimtamantul dumneavoastra;

Categoriile de destinatari catre care se pot divulga datele personale colectate:

    autoritatile statului (inclusiv autoritati fiscale, autoritati de protectie a consumatorilor precum si cele din domeniul asigurarilor, organele statului competente in materie penala), ca urmare a unei obligatii legale a Operatorului;
    furnizorii implicati in mod direct/indirect in procesul de asigurare (ex. reasiguratori, dezvoltatori de servicii IT, prestatori de servicii de regularizare a daunelor, agenti constatatori de dauna, furnizori de call-center si asistenta in domeniul asigurarilor, clinici medicale partenere si service-uri auto partenere etc);
    prestatori de servicii de marketing, cercetare de piata, studii de satisfactie clienti si alte servicii similare;
    intermediarii implicati in administrarea contractelor dumneavoastra de asigurare (de ex. brokeri, agenti de asigurare – persoane fizice autorizate etc.);
    alte companii din cadrul Grupului VIG (nationale si/sau internationale);
    Instante judecatoresti sau arbitrale, notari publici, avocati, executori judecatoresti, birouri de traduceri, alte servicii autorizate, experti evaluatori.

Transferul datelor personale intr-o tara din afara Zonei Economice Europene

OMNIASIG VIG ar putea sa transfere datele personale catre alte companii din afara sau din cadrul Grupului VIG, aflate in exteriorul Zonei Economice Europene. Pentru astfel de transferuri, OMNIASIG VIG a luat o serie de masuri pentru a asigura un nivel adecvat de protectie a persoanelor fizice, similar cu cel oferit de legislatia europeana. Printre aceste masuri se regasesc si incheierea de clauze contractuale standard aprobate la nivel european.

Stocarea datelor personale

Datele personale vor fi prelucrate cel putin pe durata de valabilitate a contractului de asigurare, precum si ulterior, pe durata necesara executarii obligatiilor contractuale de catre oricare dintre parti.

Datele personale vor fi stocate atat timp cat este necesar pentru scopurile mentionate mai sus sau pe perioada de timp prevazuta de dispozitiile legale generale precum si cele aplicabile in materie de asigurari, in acord cu Nomenclatorul Arhivistic aplicabil la nivelul OMNIASIG VIG.

Daca sunteti de acord cu prelucrarea in scop de marketing, datele personale colectate vor fi pastrate pana cand ne veti anunta cu privire la retragerea consimtamantului acordat in acest scop.

Drepturile pe care le aveti in ceea ce priveste datele dumneavoastra personale

In legatura cu prelucrarea datelor cu caracter personal in baza conditiilor specificate in Regulamentul privind protectia datelor la nivel european 679/2016 va puteti exercita oricare dintre urmatoarele drepturi:

    Dreptul de informare si acces la datele cu caracter personal

    Va permite sa fiti informat cu privire la prelucrarea datelor cu caracter personal, sa obtineti din partea noastra o confirmare a faptului ca OMNIASIG VIG prelucreaza sau nu date personale care va privesc si ce astfel de date sunt prelucrate. In cazul in care datele cu caracter personal care va privesc, nu sunt colectate de la dumneavoastra, va informam cu privire la orice informatii disponibile privind sursa acestora, in cazurile in care nu avem o interdictie legala privind divulgarea sursei.
    Dreptul la rectificare

    Presupune dreptul de a solicita rectificarea sau actualizarea datelor cu caracter personal inexacte sau incomplete care va privesc sau completarea acestora, atunci cand acestea sunt incomplete.
    Dreptul la stergerea datelor sau "dreptul de a fi uitat"

    Presupune dreptul de a solicita stergerea datelor cu caracter personal care va privesc, in anumite circumstante, precum (i) datele personale nu mai sunt necesare pentru indeplinirea scopurilor pentru care au fost colectate sau prelucrate, (ii) datele dumneavoastra au fost prelucrate ilegal, (iii) prelucrarea datelor a avut loc pe baza consimtamantului dumneavoastra, iar acesta a fost retras.
    Dreptul de a va retrage consimtamantul

    Consimtamantul poate fi retras in orice moment, atunci cand prelucrarea datelor cu caracter personal care va privesc a fost efectuata pe baza consimtamantului dumneavoastra.
    Dreptul la restrictionarea prelucrarii

    Presupune dreptul de a solicita si de a obtine restrictionarea prelucrarii datelor cu caracter personal care va privesc, in anumite circumstante, precum (i) dumneavoastra contestati exactitatea datelor, pe perioada ce ne-ar permite verificarea exactitatii acelor date, (ii) datele dumneavoastra au fost prelucrate ilegal, iar dumneavoastra va opuneti stergerii acestora, solicitand restrictionarea utilizarii lor.
    Dreptul la portabilitatea datelor

    Presupune dreptul de a primi datele cu caracter personal care va privesc si pe care ni le-ati furnizat, cu dreptul de a le transmite unui alt operator, in cazul in care (i) prelucrarea datelor s-a efectuat fie in baza consimtamantului dumneavoastra sau a contractului incheiat cu noi, iar prelucrarea datelor cu caracter personal s-a efectuat prin mijloace automate. Acest drept poate fi exercitat, numai in masura in care prelucrarea datelor furnizate a fost efectuata exclusiv prin mijloace automate si doar acolo unde extragerea acestor date este fezabila din punct de vedere al capacitatilor tehnice folosite de Operator.
    Dreptul la opozitie

    Presupune ca, in orice moment, aveti dreptul de a va opune, din motive legate de situatia particulara in care va aflati, prelucrarii datelor cu caracter personal in anumite circumstante, precum (i) prelucrarea a fost efectuata in interesul nostru legitim sau (ii) prelucrarea are drept scop marketingul direct, inclusiv crearea de profiluri pe baza respectivelor dispozitii.
    Dreptul de nu face obiectul unei decizii bazate exclusiv pe prelucrarea automata a datelor dumneavoastra, inclusiv crearea de profiluri care produc efecte juridice sau care va afecteaza semnificativ.

    Presupune ca aveti dreptul de a solicita interventie umana din partea Operatorului, de a va exprima punctul de vedere si de a contesta decizia.
    Dreptul de a depune o plangere la noi si/sau la autoritatea competenta privind protectia datelor

    Dreptul de a va adresa justitiei

    Dreptul de a fi notificat de catre OMNIASIG VIG privind brese de securitate care au/ar putea avea impact asupra datelor dumneavoastra personale.

Pentru exercitarea drepturilor dumneavoastră sau informații suplimentare va puteți adresa Responsabilului cu Protectia Datelor Personale din cadrul OMNIASIG VIENNA INSURANCE GROUP S.A., prin:
- e-mail la dpo@omniasig.ro,
- prin posta, la adresa OMNIASIG VIENNA INSURANCE GROUP S.A., Aleea Alexandru 51, sector 1 Bucuresti sau
- depunând personal o notificare semnata olograf la oricare din sediile OMNIASIG VIENNA INSURANCE GROUP S.A. din București sau din tara.

Pentru a depune o sesizare/reclamație la Autoritatea Națională de Supraveghere a Prelucrării Datelor cu Caracter Personal, datele de contact sunt:
Web site : http://www.dataprotection.ro/
Email: anspdcp@dataprotection.ro
Adresa: B-dul G-ral. Gheorghe Magheru 28-30, Sector 1, cod poștal 010336Bucuresti, Romania
Telefon fix: +40.318.059.211,+40.318.059.212
Cabinet Președinte +40.318.059.220; Fax+40.318.059.60

Actualizarea prezentei informari privind prelucrarea datelor cu caracter personal

Prezenta informare privind prelucrarea datelor cu caracter personal se supune unor revizuiri periodice. Pentru a fi informat cu privire la eventuale modificari importante care pot avea un impact asupra prelucrarii datelor dumneavoastra cu caracter personal, va rugam sa consultati periodic pagina web a companiei www.omniasig.ro – sectiunea "Protectia Datelor cu Caracter Personal".

Cea mai recenta actualizare a prezentei informari privind prelucrarea datelor cu caracter personal s-a efectuat la data de [24.05.2018].
		</div>

		<h2>Pentru a continua, va rugam sa confirmati ca sunteti de acord cu conditiile GDPR de mai sus</h2>
		<div class="prerequisite_button">
			<mat-checkbox [(ngModel)]="GDPR" (ngModelChange)="this.confirmed.emit($event);">Sunt de acord >></mat-checkbox>
		</div>
	</div>
</div>