<div class="content">
	<div class="mainDivContent prerequisite" style="text-align: center;">
		<h1>Termeni si Conditii</h1>
		<p>
		Am creat acest serviciu exclusiv on-line, din dorința de ajuta consumatorii de servicii de asigurare și nu numai, să interacționeze în cel mai ușor, mai ieftin și rapid mod cu putință cu societățile de asigurare, în demersurile lor de a își recupera despăgubirile cuvenite.</p>

		<div style="width:100%; height:300px; overflow-y:auto;">
			...aici vin conditiile	
		</div>

		<h2>Pentru a continua, va rugam sa confirmati ca sunteti de acord cu termenii si conditiile de mai sus</h2>
		<div class="prerequisite_button">
			<mat-checkbox [(ngModel)]="TermeniSiConditii" (ngModelChange)="this.confirmed.emit($event);">Sunt de acord >></mat-checkbox>
		</div>
	</div>
</div>