<form #childForm="ngForm" autocomplete="off">
	<div fxLayout="column" class="innerMainDiv" [ngStyle]="{'border': (step > 4 && step < 13) ? '6px solid #1D3885' : ((step > 12 && step < 21)  ? '6px solid 	#F8D32D' : '6px solid lightgray')}">	
		<span class="zona-title" [ngStyle]="{'background-color': (step > 4 && step < 13) ? '#1D3885' : ((step > 12 && step < 21)  ? '#F8D32D' : 'lightgray'),
			'color': (step > 4 && step < 13) ? 'white' : ((step > 13 && step < 21)  ? 'black' : 'navyy') }">
			Rubrica 1 - Data accidentului
		</span>
		<mat-form-field fxFlex>
		  <mat-label>Data accidentului</mat-label>
		  <input matInput [matDatepicker]="picker" disabled placeholder="MM/dd/yyyy" [(ngModel)]="Zona1.Data" name="Data" #Data="ngModel" required>
		  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
		  <mat-datepicker #picker disabled="false"></mat-datepicker>
		</mat-form-field>
	  <mat-form-field fxFlex>
	    <mat-label>Ora:</mat-label>
	    <input matInput placeholder="00:00" [(ngModel)]="Zona1.Ora" name="Ora" #Ora='ngModel' required>
	  </mat-form-field>  
	  
 	  <app-display-errors
 	  	class="form-error-container"
 	  	[style]="{'max-height': Zona1.hasError() != null && childForm.touched ? '200px' : '0'}"
 	  	[errors]="Zona1.hasError()">
  	</app-display-errors>	

  	<button mat-raised-button color="primary" (click)="showDiv(step, false); showDiv(step-1, true)"> << Rubrica anterioara </button>
  	<button mat-raised-button (click)="showDiv(step, false)"> |< Inapoi la formular </button>
  	<button [disabled]="CommonFunctions.DISABLE_BUTTONS_ON_VALIDATION_ERROR && Zona1.hasError() != null" mat-raised-button color="primary" (click)="showDiv(step, false); showDiv(step+1, true)"> Rubrica urmatoare >> </button>
	</div>
</form>
