<div class="content">
	<div class="mainDivContent prerequisite" style="text-align: center;">
		<h1>AȚI FOST IMPLICAT ÎNTR-UN ACCIDENT?</h1>
		<p>
		Am creat acest serviciu exclusiv on-line, din dorința de ajuta consumatorii de servicii de asigurare și nu numai, să interacționeze în cel mai ușor, mai ieftin și rapid mod cu putință cu societățile de asigurare, în demersurile lor de a își recupera despăgubirile cuvenite.</p>

		<p>
		Inainte de a incepe, sa clarificam cateva aspecte...
		</p>

		<div class="scrollable">
			...aici vin conditiile	
		</div>

		<h2>Pentru a continua, va rugam sa confirmati ca sunteti de acord cu conditiile de mai sus</h2>
		<div class="prerequisite_button">
			<mat-checkbox [(ngModel)]="Conditii" (ngModelChange)="this.confirmed.emit($event);">Sunt de acord >></mat-checkbox>
		</div>
	</div>
</div>