<div class="content">
	<div class="mainDivContent prerequisite" style="text-align: center;">
		<h1>DOCUMENTE NECESARE</h1>
		<p>
		Am creat acest serviciu exclusiv on-line, din dorința de ajuta consumatorii de servicii de asigurare și nu numai, să interacționeze în cel mai ușor, mai ieftin și rapid mod cu putință cu societățile de asigurare, în demersurile lor de a își recupera despăgubirile cuvenite.</p>

    <ul>
      <li *ngFor="let doc of CommonFunctions.DocumenteNecesare">
      	<!--
        <mat-checkbox [(ngModel)]="doc.selected">
          {{doc.name}}
        </mat-checkbox>
      	-->
      	{{doc.name}}
      </li>
    </ul>

		<h2>Pentru a continua, va rugam sa confirmati ca aveti documentele de mai sus, necesare completarii formularului</h2>
		<div class="prerequisite_button">
			<mat-checkbox [(ngModel)]="DocumenteNecesare" (ngModelChange)="this.confirmed.emit($event);">Detinem documentele >></mat-checkbox>
		</div>
	</div>
</div>