<form #childForm="ngForm" autocomplete="off">
	<div fxLayout="column" class="innerMainDiv" [ngStyle]="{'border': (step > 4 && step < 13) ? '6px solid #1D3885' : ((step > 12 && step < 21)  ? '6px solid 	#F8D32D' : '6px solid lightgray')}">	
		<span class="zona-title" [ngStyle]="{'background-color': (step > 4 && step < 13) ? '#1D3885' : ((step > 12 && step < 21)  ? '#F8D32D' : 'lightgray'),
			'color': (step > 4 && step < 13) ? 'white' : ((step > 13 && step < 21)  ? 'black' : 'navyy') }">
			Rubrica 15 - Semnatura conducatorului vehiculului {{step == 12 ? "A" : "B"}}
		</span>	
		<mat-card fxFlex>
			<mat-card-content fxLayout = "column" #signatureContainer>
	      <signature-pad id="signaturePad" name="signaturePad" #signaturePad (window:resize)="resizeSignaturePad($event)"></signature-pad>
			</mat-card-content>
		  <mat-card-actions>
    		<button mat-raised-button color="primary" (click)="clearCanvas()">Curata</button>
 		  </mat-card-actions>		  
 		</mat-card>

 	  <app-display-errors
 	  	class="form-error-container"
 	  	[style]="{'max-height': Zona15.hasError() != null && childForm.touched ? '200px' : '0'}"
 	  	[errors]="Zona15.hasError()">
  	</app-display-errors>	

  	<div fxFlex fxLayout="row" fxLayout.lt-md="column" class="ZonaButtonsContainer">
	  	<button mat-raised-button color="primary" (click)="showDiv(step, false); showDiv(step-1, true)"> << Rubrica anterioara </button>
  		<button mat-raised-button (click)="showDiv(step, false)"> |< Inapoi la formular </button>
  		<button [disabled]="CommonFunctions.DISABLE_BUTTONS_ON_VALIDATION_ERROR && Zona15.hasError() != null" mat-raised-button color="primary" (click)="showDiv(step, false); showDiv(step+1, true)"> Rubrica urmatoare >> </button>
  	</div>
	</div>
</form>
