<form #childForm="ngForm" autocomplete="off">
	<div fxLayout="column" class="innerMainDiv" style="border-width: 6px; border-style:solid;" [ngStyle]="{'border-color': CommonFunctions.Steps[step].bgColor}">	
		<span class="zona-title" [ngStyle]="{'background-color': CommonFunctions.Steps[step].bgColor,
			'color': CommonFunctions.Steps[step].color }">
			Rubrica 15 - Semnatura conducatorului vehiculului {{step == 12 ? "A" : "B"}}
		</span>	
		<mat-card fxFlex>
			<mat-card-content fxLayout = "column" #signatureContainer>
	      <signature-pad id="signaturePad" name="signaturePad" #signaturePad (window:resize)="resizeSignaturePad($event)"></signature-pad>
			</mat-card-content>
		  <mat-card-actions>
    		<button mat-raised-button color="primary" (click)="clearCanvas()">Curata</button>
 		  </mat-card-actions>		  
 		</mat-card>

 	  <app-display-errors
 	  	class="form-error-container"
 	  	[style]="{'max-height': Zona15.hasError() != null && childForm.touched ? '200px' : '0'}"
 	  	[errors]="Zona15.hasError()">
  	</app-display-errors>	

  	<div fxFlex fxLayout="row" fxLayout.lt-md="column" class="ZonaButtonsContainer">
	  	<button mat-raised-button color="primary" (click)="showDiv(step, false); showDiv(step-1, true)"> << Rubrica anterioara </button>
  		<button mat-raised-button (click)="showDiv(step, false)"> |< Inapoi la formular </button>
  		<button [disabled]="CommonFunctions.DISABLE_BUTTONS_ON_VALIDATION_ERROR && Zona15.hasError() != null" mat-raised-button color="primary" (click)="showDiv(step, false); showDiv(step+1, true)"> Rubrica urmatoare >> </button>
  	</div>
	</div>
</form>
